<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fingerprintrecognition" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
    <application android:hardwareAccelerated="true" android:label="@string/app_name" android:theme="@style/AppTheme" android:logo="@drawable/ic_icon" android:icon="@drawable/ic_launcher">
        <activity android:name=".SplashActivity" android:screenOrientation="portrait" android:theme="@style/AppSplashTheme" android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity" android:screenOrientation="landscape" android:label="Camera" android:theme="@style/AppThemeTransparent" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".ProcessActivity" android:screenOrientation="landscape" android:label="Process" android:theme="@style/AppThemeTransparent"/>
        <activity android:name=".MatchActivity" android:screenOrientation="landscape" android:label="Match" android:theme="@style/AppThemeTransparent"/>
        <activity android:name=".ResultActivity" android:screenOrientation="landscape" android:label="Result" android:theme="@style/AppThemeTransparent"/>
        <activity android:name=".SettingsActivity" android:screenOrientation="landscape" android:label="Result" android:theme="@style/AppThemeTransparent"/>
    </application>
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <supports-screens android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
</manifest>
